:root{
    --bg1:rgba(40, 124, 250, 0.685);
    --task-bg: lightgrey;

}

body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    display: flex;
}

header {
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color:var(--bg1);
    position: relative;
}
.nav-main-container{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 60px;
}

.logo-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-container {
    margin-top: 10px;
}

.link-container a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.user-img-container {
    border: 4px solid white;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    margin-bottom: 40px;
}

.user-img {
    width: 100%;
    object-fit: cover;
    border-radius: 100%;
}

