
    <div class="nav-main-container">
        <div class="logo-container">
            <img src="img/logo.png" alt="">
        </div>

        <div class="navbar">

            <div class="link-container"><a href=""> Board</a></div>
            <div class="link-container"><a href="">backlog</a></div>
            <div class="link-container"><a href="">Add Task</a></div>
            <div class="link-container"><a href="">Help</a></div>

        </div>

    </div>

    <div class="user-img-container">
        <img class="user-img" src="img/profile.png" alt="">
    </div>

