
    <div class="nav-main-container">
        <div class="logo-container">
            <img src="img/logo.png" alt="">
        </div>

        <div class="navbar">

            <div class="link-container"><div class="link-border board-link"></div><a href="index.html"><span>Board</span></a></div>
            <div class="link-container"><div class="link-border"></div><a href="backlog.html"><span>Backlog</span></a></div>
            <div class="link-container"><div class="link-border"></div><a href=""><span>Add Task</span></a></div>
            <div class="link-container"><div class="link-border"></div><a href=""><span>Help</span></a></div>

        </div>

    </div>

    <div class="user-img-container">
        <img class="user-img" src="img/profile.png" alt="">
    </div>

